@using GameRater.Web.UI.Utils
@using Microsoft.AspNetCore.Http;

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery AntiForgery;

<div id="app_container"></div>

<script>
    @functions {
        public string GetRequestVerificationToken()
        {
            var tokenSet = AntiForgery.GetAndStoreTokens(Context);
            var formToken = AntiForgery.GetAndStoreTokens(Context).RequestToken;
            var cookieToken = AntiForgery.GetAndStoreTokens(Context).CookieToken;

            if (!string.IsNullOrEmpty(cookieToken))
            {
                Context.Request.Headers.TryGetValue("X-Forwarded-Proto", out var xForwardedProto);

                Context.Response.Cookies.Append("X-CSRF-COOKIE", cookieToken, new CookieOptions
                {
                    HttpOnly = true,
                    Secure = Context.Request.IsHttps || xForwardedProto == "https"
                });
            }

            return formToken ?? "";
        }
    }

    var requestVerificationToken = "@GetRequestVerificationToken()";
    var requestVerificationTokenName = "X-CSRF-TOKEN";

    var baseColor = "#2196F3";
    var rootFullPath = "@Url.GetUrlRoot("~/")";

    var sizePerPage = @ViewBag.SizePerPage;
    var isLoginRequiredWarning = "@ViewBag.IsLoginRequiredWarning".toLowerCase() === "true";
</script>

<script src="~/app_bundles/App.js"></script>